* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

main {
  text-align: center;
  align-items: center;
  font-family: 'Roboto', sans-serif;
}

main header {
  margin-bottom: 1.5rem;
  padding: 0.5rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

main header h1 {
  color: #13191c;
}

.pokemon-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 2.5rem;
}

.pokemon-card {
  width: 25rem;
  overflow: hidden;

  background: rgba(255, 255, 255, 0.2);
  border-radius: 8px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.pokemon-fav {
  margin-right: auto;
  margin-bottom: auto;
  font-size: 16px;
}

.checked {
  color: orange;
}

.pokemon-card .pokemon-name {
  background-color: #ececec;
  padding: 0.5rem;
  text-transform: uppercase;
}

.pokemon-name {
  display: flex;
}

.pokemon-name-text {
  flex-grow: 4;
}

.pokemon-card .pokemon-info {
  padding: 1rem;
}

.footer-control {
  margin-top: 24px;
}

.pokemon-type {
  display: flex;
  justify-content: center;
  gap: 4px;
}

.pokemon-type-name {
  border: 1px solid #000;
  padding: 4px;
}

.footer-control {
  margin-bottom: 1rem;
}

.footer-control button {
  text-transform: uppercase;
  padding: 0.5rem;
  border: none;
  border-radius: 0.5rem;
  border: 1px solid #ccc;
}

.footer-control button:hover {
  opacity: 0.5;
}

.footer-control button:last-child {
  margin-left: 0.25rem;
}

.paginate-li {
  display: inline;
  border: 1px solid #cecece;
  margin: 0 2px;
  padding: 0 5px;
  margin-bottom: 50px;
}

.normal {
  background-color: #a8a878;
  border: 1px solid #6d6d4e;
}

.fire {
  background-color: #f08030;
  border: 1px solid #9c531f;
}

.water {
  background-color: #6890f0;
  border: 1px solid #445e9c;
}

.electric {
  background-color: #f8d030;
  border: 1px solid #a1871f;
}

.grass {
  background-color: #78c850;
  border: 1px solid #4e8234;
}

.ice {
  background-color: #98d8d8;
  border: 1px solid #638d8d;
}

.ground {
  background-color: #e0c068;
  border: 1px solid #927d44;
}

.flying {
  background-color: #a890f0;
  border: 1px solid #6d5e9c;
}

.ghost {
  background-color: #705898;
  border: 1px solid #493963;
}

.rock {
  background-color: #b8a038;
  border: 1px solid #786824;
}

.fighting {
  background-color: #c03028;
  border: 1px solid #7d1f1a;
}

.poison {
  background-color: #a040a0;
  border: 1px solid #682a68;
}

.psychic {
  background-color: #f85888;
  border: 1px solid #a13959;
}

.bug {
  background-color: #a8b820;
  border: 1px solid #6d7815;
}

.dark {
  background-color: #705848;
  border: 1px solid #49392f;
}

.steel {
  background-color: #b8b8d0;
  border: 1px solid #787887;
}

.dragon {
  background-color: #7038f8;
  border: 1px solid #4924a1;
}

.fairy {
  background-color: #c2617f;
  border: 1px solid #e5c7d6;
}
